<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <form action="/team" method="POST">
  <label for="name">Team Name: </label>
     <input type="text" id="name" />
     <label for="coach">Coach: </label>
       <input type="text" id="coach" />
       <label for="pg">Point Guard: </label>
         <input type="text" id="pg" />
         <label for="sg">Shooting Guard: </label>
           <input type="text" id="sg" />
           <label for="pf">Power Forward: </label>
             <input type="text" id="pf" />
             <label for="sf">Small Forward: </label>
               <input type="text" id="sf" />
               <label for="c">Center: </label>
                 <input type="text" id="c" />
                 <input type="submit" id="Submit" value="Submit" />
               </form>
 </body>
</html>
