<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <p><label for="name">Team Name: </label>
     <input type="text" id="name" /></p>
     <p><label for="coach">Coach: </label>
       <input type="text" id="coach" /></p>
       <p><label for="pg">Point Guard: </label>
         <input type="text" id="pg" /></p>
         <p><label for="sg">Shooting Guard: </label>
           <input type="text" id="sg" /></p>
           <p><label for="team_name">Power Forward: </label>
             <input type="text" id="name" /></p>
             <p><label for="team_name">Team Name: </label>
               <input type="text" id="name" /></p>
               <p><label for="team_name">Team Name: </label>
                 <input type="text" id="name" /></p>
 </body>
</html>
