<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <form action="/team" method="POST">
  <label for="name">Team Name: </label>
     <input type="text" id="name" /></br>
     <label for="coach">Coach: </label>
       <input type="text" id="coach" /></br>
        <label for="pg">Point Guard: </label>
         <input type="text" id="pg" /></br>
         <label for="sg">Shooting Guard: </label>
           <input type="text" id="sg" /></br>
           <label for="pf">Power Forward: </label>
             <input type="text" id="pf" /></br>
             <label for="sf">Small Forward: </label>
               <input type="text" id="sf" /></br>
               <label for="c">Center: </label>
                 <input type="text" id="c" /></br>
                 <input type="submit" id="Submit" value="Submit" />
               </form>
 </body>
</html>
