<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%=@params[:coach]%></h1>
   <h2><p>Coach:</p></h2>
   <h2><p>Point Guard:</p></h2>
   <h2><p>Shooting Guard:</p></h2>
   <h2><p>Power Forward:</p></h2>
   <h2><p>Small Forward:</p></h2>
   <h2><p>Center:</p></h2>

 </body>
</html>
